
.startGameButtons {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #be88db; 
  color: white; 
  border: 2px solid black;
  border-radius: 10px;
  width: 40%;
  height: 100px;
}

.startGameButtons:hover {
  background-color: #904ab5;
  color: white;
}

