body {
  background-color: #e7d8f0;
  font-family: 'Quicksand', sans-serif;
}

.startPageTitle {
  text-align: center;
  font-size: 32px;
  margin: auto;
  padding: 30px;
  
}


.centerButtonsOnPage {
  margin: auto;
  width: 50%;
}

.startGameButtons {
  font-family: 'Quicksand', sans-serif;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #aa75c9; 
  color: white; 
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  height: 100px;
}

.startGameButtons:hover {
  background-color: #7f40a3;
  color: white;
}
